<html>
  <head>
    <%# javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="content" style="width: 840px; margin: 30px auto 0 auto;">
      <div id="current_task" style="float: left;">
        <%= button_tag "Start Working", id: "btn_start" %>
		<%= button_tag "Finish Working", id: "btn_finish", style: "display: none;" %>
        <p>Currently working on:<br><span id="spn_current_task" data-bind="text: current_task_name"></span></p>
        <%= button_tag "Pause" %><%= button_tag "Stop" %>
      </div>
      <div id="tasks" style="float: right;">
        <p>Select task from list, or enter new task name</p>
        <%= text_field_tag "name", "", placeholder: "New Task Name", id: "txt_new_task" %>
        <%= button_tag "Start", id: "btn_new_task", disabled: "disabled" %>
        <ul id="task_list" data-bind="foreach: tasks">
          <li class="task" data-bind="text: name"></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      Trackr.init();

      ko.applyBindings(Trackr);
     
      Trackr.config["log_start_url"] = "/time_logs";
      Trackr.config["log_finish_url"] = "/time_logs/:log_id/finish";
      Trackr.config["task_start_url"] = "/time_logs/:log_id/log_entries";
      Trackr.config["task_finish_url"] = "/time_logs/:log_id/log_entries/:entry_id/finish"
      Trackr.config["task_create_url"] = "/tasks";

      <% if @current_log %>
	    Trackr.start_existing_log(<%= @current_log.id %>);
      <% end %>

      <% @tasks.each do |task| %>
        Trackr.add_task(new Trackr.Task("<%= task.name %>", <%= task.id %>));
      <% end %>

     $(document).ready(function() {
       $(".task").click(function() {
         Trackr.time_log().start_task(ko.dataFor(this));
       });
     });
    </script>
  </body>
</html>
