<html>
  <head>
    <%# javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="content" style="width: 840px; margin: 30px auto 0 auto;">
      <div id="current_task" style="float: left;">
        <%= button_tag "Start Working", id: "btn_start", style: @current_log ? "display: none;" : "" %>
		<%= button_tag "Finish Working", id: "btn_finish", style: @current_log ? "" : "display: none;" %>
        <p>Currently working on:<br><%= @current_task %></p>
        <%= button_tag "Pause" %><%= button_tag "Stop" %>
      </div>
      <div id="task_list" style="float: right;">
        <p>Select task from list, or enter new task name</p>
        <%= text_field_tag "task_name", "", placeholder: "New Task Name" %>
        <%= button_tag "Start" %>
        <ul>
          <% @tasks.each do |task| %>
            <li><%= task.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      Trackr.config["log_start_url"] = "/time_logs";
      Trackr.config["log_finish_url"] = "/time_logs/:log_id/finish";

      <% if @current_log %>
	    Trackr.start_existing_log(<%= @current_log.id %>);
      <% end %>

      $("#btn_start").click(function(){ Trackr.start_log(); });
	  $("#btn_finish").click(function(){ Trackr.time_log.finish(); });
    </script>
  </body>
</html>
